<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Управление статусами</title>
        <link rel="stylesheet" href="/statuses/static/statuses/css/style.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
    <body>
        <div class="container">
            {% if rights == "full" or rights == "read" %}
            <div class="boards-container">
                <!-- Колонки внутренних статусов -->
                <div>
                    <!--<h3>Внутренние статусы</h3>-->
                    <div class="kanban-board">
                        <div class="column" id="new">
                            <div class="column-header column-header_viol">Новая заявка</div>
                        </div>
                        <div class="column" id="prebooking">
                            <div class="column-header column-header_viol">Предварительное бронирование</div>
                        </div>
                        <div class="column" id="confirmed">
                            <div class="column-header column-header_viol">Подтвержденно</div>
                        </div>
                        <div class="column" id="done">
                            <div class="column-header column-header_done">Состоялось</div>
                        </div>
                        <div class="column" id="canceled">
                            <div class="column-header column-header_canceled">Не состоялось</div>
                        </div>
                    </div>
                </div>

                <p></p>
                <!-- Колонка внешних статусов -->
                <div class="status">
                    <select class="status__select">
                        <option>Выберите воронку</option>
                        <option>1</option>
                    </select>
                    <!--<h3>Внешние статусы</h3>-->
                    <div class="kanban-board">
                        <div class="column external-column" id="external-statuses">
                            {% for status in statuses %}
                            <div class="task external-task" data-id="{{ status.ID }}" data-status="{{ status.NAME }}">{{ status.NAME }}</div>
                            {% endfor %}
                            <!-- Внешние статусы будут добавлены динамически -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <script>
            function fetchStatusUpdate() {
                // Делаем AJAX-запрос на сервер для получения новых данных
                fetch("{% url 'statuses:checkForUpdateOfStatuses' %}")
                    .then((response) => response.json())
                    .then((data) => {})
                    .catch((error) => console.error("Error fetching status update:", error));
            }
            var rights = "{{ rights }}"; // Защищаем от ошибок в JS с помощью escapejs
            // Настроим периодический запрос каждые 1 секунд (10000 миллисекунд)
            console.log(rights);
            if (rights != "none") {
                setInterval(fetchStatusUpdate, 5000);
            }
        </script>

        <script>
            var rights = "{{ rights }}"; // Защищаем от ошибок в JS с помощью escapejs
            console.log(rights);
            // Настроим периодический запрос каждые 1 секунд (10000 миллисекунд)



            if (rights != "none" || rights != "read") {
                $(function () {
                //Получаем данные если есть

                const jsonSettings = {{ jsonSettings|safe }};

                if(jsonSettings!= null){
                    jsonSettings.forEach(function (columnData) {
                    // Найдем колонку по ее ID
                    const columnId = columnData.columnId;
                    const tasks = columnData.tasks;

                    // Для каждой задачи в колонке
                    tasks.forEach(function (task) {
                        // Найдем соответствующий статус по ID
                        const taskId = task.id;
                        const taskStatus = task.status;

                        // Создадим элемент задачи
                        const taskElement = $(
                            `<div class="task" data-id="${taskId}" data-status="${taskStatus}">${taskStatus}</div>`
                        );

                        // Добавим задачу в соответствующую колонку
                        $("#" + columnId).append(taskElement);
                        });
                    });
                }

                function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== "") {
                        const cookies = document.cookie.split(";");
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === name + "=") {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                function sendConnections() {
                    let arrayForSend = [];

                    $(".column.ui-sortable").each(function () {
                        let columnId = $(this).attr("id"); // ID колонки
                        let tasks = $(this).find(".task"); // Находим задачи внутри колонки

                        if (tasks.length > 0 && columnId !== "external-statuses") {
                            let columnData = {
                                columnId: columnId,
                                tasks: [],
                            };

                            tasks.each(function () {
                                let taskId = $(this).data("id");
                                let taskStatus = $(this).data("status");

                                columnData.tasks.push({
                                    id: taskId,
                                    status: taskStatus,
                                });
                            });

                            arrayForSend.push(columnData);
                        }
                    });

                    console.log(JSON.stringify(arrayForSend, null, 2)); // Вывод в JSON-формате с отступами

                    $.ajax({
                        url: "{% url 'statuses:saveNewConfigurations' %}", // URL для обработки формы
                        type: "POST",
                        contentType: "application/json", // Указываем, что передаём JSON
                        data: JSON.stringify({ jsonSettings: arrayForSend }), // Превращаем объект в JSON
                        headers: { "X-CSRFToken": csrftoken }, // CSRF-токен добавляем в заголовки
                        success: function (response) {
                            // Если ответ успешный, отобразим календарь

                            console.log(response);
                        },
                        error: function (response) {
                            // Если ошибка, отображаем сообщение об ошибке
                            console.log(response);
                        },
                    });
                }

                const csrftoken = getCookie("csrftoken");

                // Инициализация сортировки для внутренних статусов
                $(".column:not(.external-column)")
                    .sortable({
                        connectWith: ".column",
                        placeholder: "task-placeholder",
                        items: ".task",
                        opacity: 0.7,
                        tolerance: "pointer",
                        receive: function (event, ui) {
                            // Если элемент перетащен из внешних статусов
                            if (ui.item.hasClass("external-task")) {
                                const status = ui.item.data("status");
                                console.log(ui.item);
                                ui.item.removeClass("external-task").text(status);

                                sendConnections();
                            }
                        },
                    })
                    .disableSelection();

                // Инициализация сортировки для внешних статусов
                $(".external-column")
                    .sortable({
                        connectWith: ".column",
                        items: ".task",
                        opacity: 0.7,
                        tolerance: "pointer",
                        receive: function (event, ui) {
                            // Если элемент возвращен во внешние статусы
                            if (!ui.item.hasClass("external-task")) {
                                const status = ui.item.text();
                                ui.item.addClass("external-task").text(status);

                            }
                            sendConnections();
                        },
                    })
                    .disableSelection();
            });
            }
        </script>
    </body>
</html>
