<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Get User Data</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <form id="user-form">
            <h1>Введите свои контактные данные</h1>
            {% csrf_token %}
            <label for="email">Почта:</label>
            <input type="email" id="email" name="email" /><br /><br />

            <label for="phone">Телефон:</label>
            <input type="text" id="phone" name="phone" required /><br /><br />

            <button type="submit">Показать календарь бронирования</button>
        </form>

        <div id="response-message"></div>

        <script>
            $(document).ready(function () {
                $("#user-form").on("submit", function (event) {
                    event.preventDefault(); // предотвращаем перезагрузку страницы

                    var email = $("#email").val();
                    var phone = $("#phone").val();

                    // отправляем данные через AJAX
                    $.ajax({
                        url: "{% url 'client_calendar:client_calendar' %}", // URL для обработки формы
                        type: "POST",
                        data: {
                            email: email,
                            phone: phone,
                            csrfmiddlewaretoken: "{{ csrf_token }}", // CSRF токен
                        },
                        success: function (response) {
                            // Если ответ успешный, отобразим календарь

                            $("#response-message").html(response.html);
                            $("#user-form").remove();

                            window.client_id = response.client_id;
                            console.log(response);
                            if (response.appointments) {
                                let newHTML = "<h2>Ваши записи:</h2>";

                                response.appointments.forEach((element) => {
                                    newHTML += `
                                        <div class="service-block">
                                            <div class="service-header">
                                                <span>${element.name}</span>
                                                <span class="toggle-btn">+</span>
                                            </div>
                                            <div class="service-content">
                                                <span>День: ${element.date}</span>
                                                <span>Начало: ${element.time_start}</span>
                                                <span>Конец: ${element.time_end}</span>
                                            </div>
                                        </div>
                                    `;
                                });
                                $("#serviceDetails").html(newHTML);
                            }
                        },
                        error: function (response) {
                            // Если ошибка, отображаем сообщение об ошибке
                            $("#response-message").html("<p>Error occurred: " + response.responseJSON.error + "</p>");
                        },
                    });
                });
            });
        </script>
    </body>
</html>
